SAILPOINT_TENANT_API=https://company21824-poc.api.identitynow-demo.com
SAILPOINT_CLIENT_ID=43a4f8cd5fca43e1ac891ac9f5b9d711
SAILPOINT_CLIENT_SECRET=PUT_SECRET_HERE
SAILPOINT_IDENTITY_ID=2c9180857aaaaaaaaaaaaaaaaaaaaaaa
SAILPOINT_ACCESS_PROFILE_ID=2c9180857bbbbbbbbbbbbbbbbbbbbbbb
